version: "3.9"
services:
  executor:
    build: 
      context: ./platform_backend_python/app/development_env-svc
    container_name: code_executor
    ports:
      - "5000:5000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  # доступ к Docker внутри контейнера
    restart: unless-stopped
